// 其他樣式

.box {
	width: 50px;
  height: 50px;
  background-clip: text;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  color: $red;
  font-size: 20px;
}

// BEM 寫法
.card {
  &__body {
    background: #000;
  }
  &__title {
    width: 50px;

    &--active {
      color: red;
    }
  }

}