$text-color: #212121;
$link-color: #1e5799;


// 灰階
$white: white;
$white10: darken($white, 10%);
$white20: darken($white, 20%);
$white30: darken($white, 30%);
$white40: darken($white, 40%);
$white50: darken($white, 50%);
$white60: darken($white, 60%);
$white70: darken($white, 70%);
$white80: darken($white, 80%);
$white90: darken($white, 90%);
$black: black;